<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.lsp4e.languageServer">
	  <server
	        class="com.jhappy.jhappyloveany.client.JHappyLSPConnectionProvider"
	        id="com.jhappy.jhappyloveany"
	        label="jHappy JDT Language Server" forced="true">
	  </server>
	  
	<contentTypeMapping
	        contentType="org.eclipse.jdt.core.javaSource"
	        id="com.jhappy.jhappyloveany">
	</contentTypeMapping>
	<contentTypeMapping
	        contentType="org.eclipse.core.runtime.text"
	        id="com.jhappy.jhappyloveany">
	</contentTypeMapping>
	</extension>
	
	<extension point="org.eclipse.ui.propertyPages">
   <page
         name="JHappy XML Queryies File Settings"
         class="com.jhappy.jhappyloveany.client.ui.JHappyPropertyPage"
         id="com.jhappy.jhappyloveany.client.properties.JHappyPropertyPage">
      <enabledWhen>
         <adapt type="org.eclipse.core.resources.IProject"/>
      </enabledWhen>
   </page>
</extension>

<extension point="org.eclipse.help.toc">
   <toc file="toc.xml" primary="true"/>
</extension>

<extension point="org.eclipse.help.contexts">
   <contexts file="contexts.xml" plugin="com.jhappy.jhappyloveany" />
</extension>

</plugin>
